<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    a {
        text-decoration: none;
    }

    body {
        border: none;
        background-color: transparent;
    }

    .header {
        background-color: black;
        color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .header h2 {
        margin: 0px;
        line-height: 30px;
    }

    .header a {
        color: white;
        margin-right: 20px;
    }

    .categories {
        text-transform: uppercase;
        transition: all 0.3s ease;
    }

    .categories:hover {
        background-color: #eee;
        color: black;
        padding: 5px;
    }

    .userLoggedIn {
        color: white;
        margin-right: 20px;
        text-transform: uppercase;
    }

    .userLoggedIn:hover {
        cursor: pointer;
        color: beige;
    }
</style>

<body>
    <div class='header'>
        <div style="display: flex; align-items: center; justify-content: center; gap: 40px;">
            <h2 style="cursor: pointer;">BLOGS</h2>
            <% const categories=["All","Entertainment", "Food" , "Travel" , "Technology" , "Sports" , "Business"
                , "Health" , "Science" ]; categories.forEach((val)=> { %>
                <a href="<%= val == 'All' ? '/home' : `/home?category=${val}` %>" class="categories">
                    <%=val%>
                </a>
                <% }); %>
        </div>
        <div>
            <a href="/admin/addBlog" class="userLoggedIn">ADD BLOG</a>
            <span class="userLoggedIn"><b>
                    Hi,
                    <%=locals.admin.firstname%>
                        <%=locals.admin.lastname%>
                </b></span>
            <form method="POST" action="/logout">
                <button type="submit">Logout</button>
            </form>

        </div>
    </div>
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: "Signed in successfully"
        });
    </script>
</body>

</html>