<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<style>
    a {
        text-decoration: none;
    }

    buthrefn {
        border: none;
        background-color: transparent;
    }

    .header {
        background-color: black;
        color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .header h2 {
        margin: 0px;
        line-height: 30px;
    }

    .header a {
        color: white;
        margin-right: 20px;
    }

    .userLoggedIn {
        color: white;
        margin-right: 20px;
    }
</style>

<body>
    <div class='header'>
        <div style="display: flex; align-items: center;justify-content: center;gap: 40px;">
            <h2>BLOGS</h2>
            <a href="/home">HOME</a>
        </div>
        <div>
            <a href="/admin/addBlog">ADD BLOG</a>
            <a href="/logout">LOGOUT</a>
        </div>
    </div>
</body>

</html>